@{
    ViewData["Title"] = "Privacy / About Us";
    Layout = "~/Views/Shared/_LayoutPrivacyAbout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="sidebar">
                <h2>General Info</h2>
                <p>We, MaVi Trains, are a leading provider of train tickets to European cities. Our mission is to offer our customers a hassle-free and enjoyable travel experience. We understand the importance of timely and efficient travel, which is why we strive to make the booking process as seamless as possible.</p>
                <p>Our team of experienced professionals is dedicated to ensuring that your journey is comfortable and stress-free. We take pride in our exceptional customer service, which has earned us a loyal customer base.</p>
                <p>Whether you are traveling for business or pleasure, we have the perfect ticket option for you. We offer both Business-class and Economic-class tickets to suit your needs and budget. With our easy-to-use booking system, you can reserve your tickets up to 14 days in advance.</p>
                <p>We are committed to making your travel experience unforgettable. Book your tickets today and let us take care of the rest.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="content">
                <h2>Project Creators</h2>
                <p>Vince Vervaele and Mario Daoud developed this project as part of their Full Stack Development course exam. Our goal was to create a user-friendly interface for purchasing train tickets to European cities. Through hard work and dedication, we built a functional and intuitive platform that meets the project requirements.</p>
                <img id="trainImg" src="~/images/logo-background/train_icon.png" alt="train picture" class="train-picture">
            </div>
        </div>
    </div>
</div>

